<a href="https://colab.research.google.com/github/cristinaandreaverzosa/PLM-Elective-3/blob/main/Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Indentation

In [32]:
x = 5
y = 2
if x > y:
  print("Five is greater than two!")

Five is greater than two!

Python Comment

In [5]:
print("HELLO WORLD!") #this is a python comment

HELLO WORLD!

Python Variable

In [13]:
z = 1
z, s = 0, -1
z, s, t = 8, 9, 10
print(z)
print(s)
print(t)

8
9
10

Casting

In [15]:
b = "Sally" #this is a string
b = int(4) #this will convert the string into an integer
print(b)

4

Type() Function

In [16]:
print(type(b))

<class 'int'>

Double Quotes and Single Quotes

In [17]:
w = "Ana"
print(w)
q = 'Ana'
print(q)

Ana
Ana

Case Sensitive

In [20]:
from re import A
a = int(4)
A = "Sally"
a
A

'Sally'

Multiple Variables

In [22]:
h, i, j = "one", 'two', "three"
print(h)
print(i)
print(j)

one
two
three

Multiple Variables with Single Value

In [24]:
k = l = m = "four"
print(k)
print(l)
print(m)

four
four
four

Output Variable and Concatenation +

In [27]:
n = "enjoying"
print("Python programming is" + " " + n)

Python programming is enjoying

Other Way

In [33]:
n = "Python is "
p = "enjoying"
print (n+p)

Python is enjoying

Arithmetic Operations

In [39]:
x + y
x - y
x * y
x / y
x % y
x ** y
x // y
print(x + y) #Addition
print(x - y) #Subtraction
print(x * y) #Multiplication
print(round(5/2)) #Division & removes decimal/remainder
print(x % y) #Modulus
print(x ** y) #Exponentiation
print(x // y) #Floor Division

7
3
10
2
1
25
2

Assignment Operators

In [53]:
x += 5 #same as x = x+5
print(x)

30.0

Comparison Operator

In [45]:
x==y #x=5, y=2
x!=y
x>y
x<y
x>=y
x<=y
print(x==y)
print(x!=y)
print(x>y)
print(x<y)
print(x>=y)
print(x<=y)

False
True
False
True
False
True

Logical Operator

In [58]:
print (x == y and x!=y) #False and True
print (x == y or x!=y)  #False or True
print (not(x == y or x!=y)) #negate (False or True)

False
True
False

Identity Operators

In [63]:
x is y #x=5, y=2
x is not y #x=5, y=2
print(x is y)
print(x is not y)

False
True

Bitwise Operators

In [69]:
#10 + 1 = 11    ;1010 + 0001 = 1011
10 & 1
10 | 1
10 ^ 1
10 << 1
10 >> 1
print(10 & 1)
print(10 | 1)
print(10 ^ 1)
print(10 << 1)
print(10 >> 1)

0
11
11
20
5

APPLICATION 1

In [88]:
#Create a Python program that displays your Fullname, Age, and Course and Section
name = "Cristina Andrea Verzosa"
age = int(21)
course, sec = "CPE 0332.1", "- 1"  # uses Multiple Variable

print("Name:", name)
print("Age:", age)
print("Course & Section:", course, sec)

Name: Cristina Andrea Verzosa
Age: 21
Course & Section: CPE 0332.1 - 1